.buttonToggle{
  padding: 10px;
  border: 2px solid #f380d1;
  color: red;
  background-color:black;
}

.light{
  background-color: black;
  color: white;
}

.dark{
  background-color: white;
  color: black;
}