.inc , .dec{
  width: 60px;
  font-size: 20px;
  background-color: pink;
  color: black;
  border: none;
}

.countNum{
  width: fit-content;
  background-color: pink;
  font-size: 60px;
  margin: 5px 10px;
}