section{
  background-color: #777;
  margin-top:20px ;
  color: black;
}
.cards{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.total{
  text-align: center;
  font-size: 40px;
  color: white; 
}