header{
    display: flex ;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: aqua;
    box-shadow: 0px 0px 0px 2px  black;
}
header ul {
    list-style: none;
    display: flex;
}
header ul li{
    margin-left: 10px;
}

header ul li a{
    color: blueviolet;
    text-decoration: none;
}

.active{
    text-decoration:underline;
}